<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- 
	<head>
		<title>Show Page</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	    <!-- Latest compiled and minified CSS -->
		    <link href="../../webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	</head>
		<body>
		
		<p>Show Page</p>
		
		<div class="container">
			   <div>
			   		 <td th:text="${post.title}"></td>
			   </div>
	    </div>
		
		
		
		<a th:href="@{/blogpost/new}"><button class= "btn btn-primary">
           Submit a New Blog Post</button></a>
           
        <a th:href="@{/}"><button class="btn btn-primary">Go Home</button></a>
			
		<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
	</body>
</html>